@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css';
:root {
  --primary-color: #ef1c23;
  --accent-color-1: var(--primary-color);
  --accent-color-2: #06a3cc;
  --accent-color-3: #f59e1d;
  --accent-color-4: #0e6c6e;
  --accent-color-5: #5e225e;
  --accent-color-6: #b9b5b2;
  --gray-color: #888888;
  --bs-nav-link-hover-color: var(--primary-color);
  --bg-color: "#010204";
}

.subtext {
  color: var(--gray-color);
}

.accent-color-1 {
  background-color: var(--accent-color-1);
}

.accent-color-2 {
  background-color: var(--accent-color-2);
}

.accent-color-3 {
  background-color: var(--accent-color-3);
}

.accent-color-4 {
  background-color: var(--accent-color-4);
}

.accent-color-5 {
  background-color: var(--accent-color-5);
}

.accent-color-6 {
  background-color: var(--accent-color-6);
}

.primary-color {
  color: var(--accent-color-1);
}

.text-primary {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.testimonial-card {
  background-color: #f6f6f4;
  border-radius: 20px;
  padding: 50px;
}
.testimonial-card .testimonials-initial {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* rounded-circle equivalent */
  background-color: #dc3545; /* bg-danger equivalent (red) */
  color: white; /* text-white equivalent */
  width: 50px;
  height: 50px;
  text-transform: uppercase;
  font-size: 20px;
}

.cards {
  position: relative;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#373536+0,010101+100 */
  background: linear-gradient(135deg, #373536 0%, #010101 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.services-accent-color {
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.primary-btn {
  background-color: var(--accent-color-1);
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.secondary-btn {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(180deg, #373536 0%, #010101 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--bs-nav-link-hover-color);
}

footer {
  background-color: #343a40;
  color: white;
  padding: 10px;
  text-align: center;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.banner-section {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  background-color: #000;
}
.banner-section .banner-item {
  height: 610px;
  padding: 70px;
  position: relative;
  color: #fff;
  border: 5px solid var(--primary-color);
}
.banner-section .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.banner-section .background-overlay img {
  width: 1600px;
  margin: auto;
  display: flex;
}
.banner-section .partner-logos {
  position: absolute;
  bottom: 0;
  left: 0;
}
.banner-section .partner-logos ul {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
.banner-section .partner-logos ul li:not(:first-child) {
  margin-left: 20px;
}
.banner-section .partner-logos img {
  height: 59px;
}
.banner-section .the-car {
  position: absolute;
  bottom: -180px;
  right: -300px;
}
.banner-section .chevron {
  position: absolute;
  margin: auto;
  left: 0;
  right: -500px;
  top: 0;
  bottom: 0;
  width: 544px;
}
.banner-section .chevron img {
  width: 100%;
  height: auto;
}

.services .img-placeholder {
  height: 218px;
  width: auto;
}
.services .services-container {
  padding-top: 100px;
  padding-bottom: 150px;
}

.contact-us {
  background-color: #f7f5f3;
}
.contact-us .img-placeholder {
  position: relative;
  top: -80px;
}
.contact-us .contact-content {
  max-width: 600px;
  margin: auto;
}

.testimonials-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

/*# sourceMappingURL=style.css.map */
