// Example: Override Bootstrap default colors
$primary: #ef1c23;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$info: #17a2b8;
$light: #f7f5f3;
$dark: #343a40;
$gray: #999999;
$headings-font-family: 'ITC Avant Garde Pro', sans-serif;
