@use 'components/fontface' as *; // New method with `@use`
@use 'components/colors' as *; // New method with `@use`
@use 'components/heading' as *; // New method with `@use`
@use 'components/testimonials' as *; // New method with `@use`
@use 'components/services' as *; // New method with `@use`
@use 'components/btn' as *; // New method with `@use`

// Variables
$primary: #ef1c23;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$info: #17a2b8;
$light: #f7f5f3;
$dark: #343a40;
$gray: #999999;
$headings-font-family: 'ITC Avant Garde Pro', sans-serif;

$btn-border-radius: 0;
$btn-padding-y: 0.75rem;
$btn-padding-x: 1.25rem;

// Import Bootstrap SCSS after the custom variables
@import '../node_modules/bootstrap/scss/bootstrap';

html {
  font-size: 14px; // This will set the base font size to 14px
}

// Now add your custom styles below
body {
  font-family: $headings-font-family;
  background-color: $light;
  font-weight: 400;
}

.mydrive-container {
  height: 900px;
  .car-overlay {
    width: 1040px;
    left: -550px;
    bottom: -150px;
  }
}
.partners-container {
}

.custom-button {
  background-color: $primary;
  color: white;
}

// Navbar styles
.navbar {
  .navbar-nav {
    gap: 43px;
    .nav-link {
      &:hover {
        color: var(--bs-nav-link-hover-color);
      }
    }
  }
}
.pt-10 {
  padding-top: 7rem;
}
.pb-10 {
  padding-bottom: 7rem;
}

// Footer styles
footer {
  background-color: #343a40;
  color: white;
  padding: 10px;
  text-align: center;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.banner-section {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  background-color: #000;
  .banner-item {
    height: 610px;
    padding: 80px;
    padding-top: 100px;
    position: relative;
    color: #fff;
    border: 4px solid var(--primary-color);
    &:before {
      height: 4px;
      background-color: #000;
      width: 100%;
      position: absolute;
      top: -4px;
      right: -4px;
      content: '';
      width: 60%;
    }
    &:after {
      height: 30%;
      background-color: #000;
      width: 100%;
      position: absolute;
      top: 0;
      right: -4px;
      content: '';
      width: 4px;
    }
  }
  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    img {
      width: 1600px;
      margin: auto;
      display: flex;
    }
  }
  .partner-logos {
    position: absolute;
    bottom: 0;
    left: 0;
    ul {
      display: flex;
      margin: 0;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        &:not(:first-child) {
          margin-left: 20px;
        }
      }
    }
    img {
      height: 59px;
    }
  }
  .the-car {
    position: absolute;
    bottom: -180px;
    right: -300px;
  }
  .chevron {
    position: absolute;
    margin: auto;
    left: 0;
    right: -500px;
    top: 0;
    bottom: 0;
    width: 544px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.services {
  .img-placeholder {
    height: 218px;
    width: auto;
  }
  .services-container {
    padding-top: 100px;
    padding-bottom: 150px;
  }
}

.contact-us {
  background-color: #f7f5f3;

  .contact-container {
    position: relative;
    top: -80px;
  }
  .contact-content {
    max-width: 630px;
    margin: auto;
  }
}
.max-w-70 {
  max-width: 70%;
}
.max-w-80 {
  max-width: 80%;
}
.max-w-50 {
  max-width: 50%;
}
.start--20 {
  left: -0px;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}

//////////////////////////////////////// Marquee Effect ////////////////////////////////////////
.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee-content {
  display: flex;
  align-items: center;
  gap: 40px; /* Adjust gap between images */
  will-change: transform;
  transition: transform 0.2s ease-out;
}

.partner-logo {
  height: 118px; /* Adjust the size of logos */
  display: inline-block;
}

//////////////////////////////////////// Text Color ////////////////////////////////////////
.text-gray {
  color: var(--gray-color);
}

//////////////////////////////////////// Font Weight ////////////////////////////////////////
.fw-extra-light {
  font-weight: 200;
}

//////////////////////////////////////// Vackground ////////////////////////////////////////
.bg-gray {
  background-color: #eeece8 !important; /* Custom gray */
}

//////////////////////////////////////// Utilities ////////////////////////////////////////
.pointer-events-none {
  pointer-events: none;
}
