// Variables
$primary: #e72030;
$secondary: #6c757d;
$success: #198754;
$danger: #dc3545;
$info: #17a2b8;
$light: #f7f5f3;
$dark: #343a40;
$gray: #999999;
$font-family-base: 'Montserrat', sans-serif;
$heading-font-family: null;

$enable-rounded: true;

$dropdown-link-hover-bg: $primary;
$dropdown-link-hover-color: #fff;

$btn-border-radius: 0;
$btn-padding-y: 0.75rem;
$btn-padding-x: 1.25rem;

$breadcrumb-item-padding-x: 0.7rem;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$form-control-padding-y: 0.5rem;

// Import Bootstrap SCSS after the custom variables
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'components/fontface'; // New method with `@use`
@import 'components/colors'; // New method with `@use`
@import 'components/heading'; // New method with `@use`
@import 'components/services'; // New method with `@use`
@import 'components/btn'; // New method with `@use`
@import 'components/testimonials'; // New method with `@use`
@import 'components/swiper'; // New method with `@use`

// Now add your custom styles below
body {
  font-family: $font-family-base;
  background-color: #fff;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; /* Better on Mac */
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin-bottom: 1.8rem;
}

.hover-text-primary:hover {
  color: $primary;
}
.text-warning-2 {
  color: #f47c02;
}
.mydrive-container {
  height: 900px;
  .car-overlay {
    width: 1260px;
    left: -740px;
    bottom: -150px;
    @media (max-width: map-get($grid-breakpoints, 'md')) {
      display: none;
    }
  }
}
.pointer-events-none {
  pointer-events: none;
}
.partners-container {
}

.custom-button {
  background-color: $primary;
  color: white;
}

// Navbar styles
.navbar {
  .navbar-nav {
    gap: 43px;
    @media (max-width: map-get($grid-breakpoints, 'md')) {
      gap: 5px;
    }
    .nav-link {
      &:hover {
        color: var(--bs-nav-link-hover-color);
      }
    }
  }
}
.pt-10 {
  padding-top: 7rem;
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    padding-top: 3.5rem;
  }
}
.pb-10 {
  padding-bottom: 7rem;
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    padding-bottom: 3.5rem;
  }
}
.pb-8-custom {
  padding-bottom: 6rem;
}

// Footer styles
footer {
  background-color: #343a40;
  color: white;
  padding: 10px;
  text-align: center;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.banner-section {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  background-color: #000;
  .banner-item {
    height: 650px;
    padding: 120px 80px;
    padding-top: 100px;
    position: relative;
    color: #fff;
    border: 4px solid var(--primary-color);
    @media (max-width: map-get($grid-breakpoints, 'md')) {
      padding: 20px;
    }
    &:before {
      height: 4px;
      background-color: #000;
      width: 100%;
      position: absolute;
      top: -4px;
      right: -4px;
      content: '';
      width: 60%;
    }
    &:after {
      height: 30%;
      background-color: #000;
      width: 100%;
      position: absolute;
      top: 0;
      right: -4px;
      content: '';
      width: 4px;
    }
  }
  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    img {
      width: 1600px;
      margin: auto;
      display: flex;
      @media (max-width: map-get($grid-breakpoints, 'md')) {
        width: 100%;
      }
    }
  }
  .partner-logos {
    position: absolute;
    bottom: 0;
    left: 0;
    @media (max-width: map-get($grid-breakpoints, 'md')) {
      display: none;
    }
    ul {
      display: flex;
      margin: 0;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        &:not(:first-child) {
          margin-left: 20px;
        }
      }
    }
    img {
      height: 59px;
    }
  }
  .the-car {
    position: absolute;
    bottom: -180px;
    right: -300px;
    @media (max-width: map-get($grid-breakpoints, 'md')) {
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }
  .chevron {
    position: absolute;
    margin: auto;
    left: 0;
    right: -500px;
    top: 0;
    bottom: 0;
    width: 544px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.services {
  .img-placeholder {
    height: 218px;
    width: auto;
  }
  .services-container {
    padding-top: 70px;
    padding-bottom: 150px;
    @media (max-width: map-get($grid-breakpoints, 'md')) {
      padding-top: 60px;
      padding-bottom: 100px;
    }
  }
}

.contact-us {
  background-color: #f7f5f3;

  .contact-container {
    position: relative;
    top: -80px;
  }
  .contact-content {
    max-width: 630px;
    margin: auto;
  }
}
.max-w-70 {
  max-width: 70%;
}
.max-w-80 {
  max-width: 80%;
}
.max-w-50 {
  max-width: 50%;
}
.start--20 {
  left: -0px;
}
.w-30 {
  width: 30%;
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    width: 100%;
  }
}
.w-40 {
  width: 40%;
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    width: 100%;
  }
}
.w-60 {
  width: 60%;
}

//////////////////////////////////////// Marquee Effect ////////////////////////////////////////
.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee-content {
  display: flex;
  align-items: center;
  gap: 40px; /* Adjust gap between images */
  will-change: transform;
  transition: transform 0.2s ease-out;
}

.partner-logo {
  height: 118px; /* Adjust the size of logos */
  display: inline-block;
}

//////////////////////////////////////// Text Color ////////////////////////////////////////
.text-gray {
  color: var(--gray-color);
}

//////////////////////////////////////// Font Weight ////////////////////////////////////////
.fw-extra-light {
  font-weight: 200;
}

//////////////////////////////////////// Vackground ////////////////////////////////////////
.bg-gray {
  background-color: #eeece8 !important; /* Custom gray */
}

//////////////////////////////////////// Utilities ////////////////////////////////////////
.pointer-events-none {
  pointer-events: none;
}
.navbar-toggler {
  width: 70px;
}
//////////////////////////////////////// Static Banner ////////////////////////////////////////
.static-banner {
  height: 500px;
  .hero-img,
  .hero-video {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 500px;
    img {
      height: 100%;
    }
    @media (min-width: map-get($grid-breakpoints, 'md')) {
      width: 60%;
    }
  }
  .overlay-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+1&1+36,0+100 */
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 1%,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}
//////////////////////////////////////// Content Image ////////////////////////////////////////
.rounded-img-custom {
  border-top-right-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
}
//////////////////////////////////////// Gap ////////////////////////////////////////
.gap-7 {
  @media (min-width: map-get($grid-breakpoints, 'md')) {
    gap: 7rem !important;
  }
}
//////////////////////////////////////// custom UL ////////////////////////////////////////
ul.custom-bullets {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem;
  gap: 15px; /* Adjust gap size as needed */
  li {
    background: url('../images/bullet-image.png') no-repeat left 3px;
    background-size: 16px; /* Adjust the size of the bullet */
    padding-left: 30px; /* Space between the bullet and text */
  }
}

//////////////////////////////////////// Padding ////////////////////////////////////////
.pe-7 {
  @media (min-width: map-get($grid-breakpoints, 'md')) {
    padding-right: 7rem;
  }
}
.ps-7 {
  @media (min-width: map-get($grid-breakpoints, 'md')) {
    padding-left: 7rem;
  }
}
.pb-6 {
  padding-bottom: 5rem;
}
.pt-6 {
  padding-top: 5rem;
}

//////////////////////////////////////// Margin ////////////////////////////////////////
.mb-7 {
  margin-bottom: 7rem;
}

//////////////////////////////////////// dark section ////////////////////////////////////////
.dark-img-thumbnail {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  &:after {
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    z-index: 2;
    content: '';
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 1%,
      rgba(0, 0, 0, 1) 36%,
      rgba(0, 0, 0, 0) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    position: relative;
    img {
      width: 100%;
    }
  }
}
//////////////////////////////////////// goals section ////////////////////////////////////////
.goals-sections {
  .-mt-custom {
    margin-top: -170px;
  }
}
//////////////////////////////////////// Content Section ////////////////////////////////////////
.content {
  &.mb-custom {
    margin-bottom: 170px;
  }
}
//////////////////////////////////////// Max Width ////////////////////////////////////////
.mw-1600 {
  max-width: 1600px;
}
//////////////////////////////////////// Breadcrumbs ////////////////////////////////////////
.breadcrumb {
  .breadcrumb-item {
    display: flex;
    align-items: center;
    &:not(:first-child) {
      &:before {
        content: '';
        width: 5px;
        height: 5px;
        padding: 0;
        background-color: $primary;
        margin-right: 0.7rem;
      }
    }
    a {
      text-decoration: none;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
//////////////////////////////////////// Breadcrumbs ////////////////////////////////////////
.team-items {
  &:hover {
    .team-hover {
      background-color: $primary !important;
    }
  }
}
//////////////////////////////////////// Nav Pills ////////////////////////////////////////
.nav-pills {
  .nav-item {
    .nav-link {
      padding: 10px 15px;
      border-radius: 10px;
      position: relative;
      &.active {
        &:after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-top: 9px solid transparent; /* Top edge is invisible */
          border-bottom: 9px solid transparent; /* Bottom edge is invisible */
          border-left: 9px solid $primary; /* Right-pointing triangle */
          position: absolute;
          right: -8px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
      &:not(.active) {
        background-color: #e5e5e5;
        color: black;
      }
    }
  }
}

//////////////////////////////////////// Accordion ////////////////////////////////////////

@media (max-width: 767.98px) {
  #mobile-accordion .accordion-button {
    font-size: 1rem;
    padding: 1rem;
  }
}

//////////////////////////////////////// My App ////////////////////////////////////////
.my-app-container {
  overflow: hidden;
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    overflow: auto;
  }
}
.custom-width-my-app {
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    width: calc(230vw);
    padding-bottom: 30px;
  }
}

//////////////////////////////////////// Gutter ////////////////////////////////////////
.g-8 {
  --bs-gutter-x: 8rem;
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    --bs-gutter-x: 3rem;
  }
}

.custom-position {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.spacer {
  height: 2rem;
}
.card-img-left {
  max-width: 415px;
}
.fw-800 {
  font-weight: 800;
}
