@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/webfonts/Montserrat Bold.eot');
  src:
    url('../fonts/webfonts/Montserrat Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/webfonts/Montserrat Bold.woff2') format('woff2'),
    url('../fonts/webfonts/Montserrat Bold.woff') format('woff'),
    url('../fonts/webfonts/Montserrat Bold.svg#Montserrat Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/webfonts/Montserrat Italic.eot');
  src:
    url('../fonts/webfonts/Montserrat Italic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/webfonts/Montserrat Italic.woff2') format('woff2'),
    url('../fonts/webfonts/Montserrat Italic.woff') format('woff'),
    url('../fonts/webfonts/Montserrat Italic.svg#Montserrat Italic')
      format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/webfonts/Montserrat Regular.eot');
  src:
    url('../fonts/webfonts/Montserrat Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/webfonts/Montserrat Regular.woff2') format('woff2'),
    url('../fonts/webfonts/Montserrat Regular.woff') format('woff'),
    url('../fonts/webfonts/Montserrat Regular.svg#Montserrat Regular')
      format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/webfonts/Montserrat SemiBold.eot');
  src:
    url('../fonts/webfonts/Montserrat SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/webfonts/Montserrat SemiBold.woff2') format('woff2'),
    url('../fonts/webfonts/Montserrat SemiBold.woff') format('woff'),
    url('../fonts/webfonts/Montserrat SemiBold.svg#Montserrat SemiBold')
      format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/webfonts/Montserrat Medium.eot');
  src:
    url('../fonts/webfonts/Montserrat Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/webfonts/Montserrat Medium.woff2') format('woff2'),
    url('../fonts/webfonts/Montserrat Medium.woff') format('woff'),
    url('../fonts/webfonts/Montserrat Medium.svg#Montserrat Medium')
      format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/webfonts/Montserrat ExtraBold.eot');
  src:
    url('../fonts/webfonts/Montserrat ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/webfonts/Montserrat ExtraBold.woff2') format('woff2'),
    url('../fonts/webfonts/Montserrat ExtraBold.woff') format('woff'),
    url('../fonts/webfonts/Montserrat ExtraBold.svg#Montserrat ExtraBold')
      format('svg');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/webfonts/icomoon.eot?f9l7xo');
  src:
    url('../fonts/webfonts/icomoon.eot?f9l7xo#iefix')
      format('embedded-opentype'),
    url('../fonts/webfonts/icomoon.ttf?f9l7xo') format('truetype'),
    url('../fonts/webfonts/icomoon.woff?f9l7xo') format('woff'),
    url('../fonts/webfonts/icomoon.svg?f9l7xo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nf-icon-11:before {
  content: '\e900';
}
.icon-nf-icon-10:before {
  content: '\e901';
}
.icon-nf-icon-7:before {
  content: '\e902';
}
.icon-nf-icon-8:before {
  content: '\e903';
}
.icon-nf-icon-9:before {
  content: '\e904';
}
