.cards {
  position: relative;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#373536+0,010101+100 */
  background: linear-gradient(
    135deg,
    #373536 0%,
    #010101 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.services-accent-color {
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
