.swiper-container {
  .swiper-slide-active {
    opacity: 1 !important;
  }
  .swiper-slide {
    opacity: 0.4;
    &:nth-child(3n + 1) {
      .testimonials-initial {
        background-color: #dc3545;
      }
    }
    &:nth-child(3n + 2) {
      .testimonials-initial {
        background-color: #0072ff;
      }
    }
    &:nth-child(3n + 3) {
      .testimonials-initial {
        background-color: #26b128;
      }
    }
  }
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  background-color: $primary;
  border-radius: 100%;
  width: 44px !important;
  height: 44px Im !important;
  &:before,
  &:after {
    font-size: 17px !important;
  }
}
.swiper-button-next {
  right: -20px !important;
}
.swiper-button-prev {
  left: -20px !important;
}
