.testimonial-card {
  background-color: #f6f6f4;
  border-radius: 20px;
  padding: 50px;
  .testimonials-initial {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* rounded-circle equivalent */
    background-color: #dc3545; /* bg-danger equivalent (red) */
    color: white; /* text-white equivalent */
    width: 50px;
    height: 50px;
    text-transform: uppercase;
    font-size: 20px;
  }
}
