.testimonials-section {
  padding-top: 110px;
  padding-bottom: 110px;
  .person-overlay {
    width: 480px;
    left: -50px;
    bottom: -110px;
    position: absolute;
    z-index: 2;
  }
}
.testimonial-card {
  border-radius: 20px;
  padding: 50px;
  .testimonials-initial {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* rounded-circle equivalent */
    background-color: #dc3545; /* bg-danger equivalent (red) */
    color: white; /* text-white equivalent */
    width: 50px;
    height: 50px;
    text-transform: uppercase;
    font-size: 20px;
  }
}
.swiper-container {
  .swiper-slide-active {
    opacity: 1 !important;
  }
  .swiper-slide {
    opacity: 0.4;
    &:nth-child(3n + 1) {
      .testimonials-initial {
        background-color: #dc3545;
      }
    }
    &:nth-child(3n + 2) {
      .testimonials-initial {
        background-color: #0072ff;
      }
    }
    &:nth-child(3n + 3) {
      .testimonials-initial {
        background-color: #26b128;
      }
    }
  }
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--primary-color) !important;
  &:before,
  &:after {
    font-size: 17px !important;
  }
}
